BOT_TOKEN=your_telegram_bot_token_here
MINI_APP_URL=https://your-service-url
ALLOW_DEV_AUTH=false
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require

# Admins
ADMIN_TELEGRAM_IDS=

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret